.picker {
  margin-bottom: 1.5rem;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.preview {
  position: relative;
  width: 200px;
  height: 160px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.previewText {
  color: #ccc;
}


.preview img {
  object-fit: cover;
  border-radius: 4px;
}

.input {
  display: none;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #878787;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  padding: 0.5rem 1rem;
  background-color: #878787;
  color: #ffc905;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}