.addNews {
    background-color: #75c801;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    width: 5rem;
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}
.link {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bold;
}