.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #878787; /* Dark but not pure black */
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.08);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

@media (min-width: 768px) {
  .header {
    padding: 1.5rem 10%;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #f0f0f0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  transition: color 0.3s ease;
}




.logo img {
  height: 40px;
  width: auto;
  border-radius: 50%;
}

.nav button {
  font-size: 1rem;
  background: none;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav button:hover {
  color: #ffc905;
}
.nav button:active{
    color: #ef4444;
}